$paddingSide: 15px;

$fx1Width: 8.333333%;
$fx2Width: 16.666667%;
$fx3Width: 25%;
$fx4Width: 33.333333%;
$fx5Width: 41.666667%;
$fx6Width: 50%;
$fx7Width: 58.333333%;
$fx8Width: 66.666667%;
$fx9Width: 75%;
$fx10Width: 83.333333%;
$fx11Width: 91.666667%;
$fx12Width: 100%;
